* {
    text-align: center;
}

a {
    width: 25%;
    padding: 15px;
}

img {
    width: 200px;
}

#about-me {
    width: 40%;
    margin: auto;
}

#navbar-div, #form-div {
    padding: 10px;
    margin: auto;
    width: 400px;
    height: auto;
    border: 5px solid;
    border-radius: 10px;
    border-color:black;
}

